.playerInfoContainer {
  container-type: inline-size;
}

.playerInfo {
  border: 2px solid var(--border-default);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  width: fit-content;

  .header {
    padding: var(--p-sm);
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: var(--font-size-md);
    text-align: start;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .imgWrapper {
      width: fit-content;
    }

    h5 {
      font-size: var(--font-size-md);
    }
  }

  div {
    img {
      border-radius: 9999px;
      border: 2px solid var(--border-default);
    }
  }

  .playerStats {
    display: flex;
    flex-direction: column;
    padding: var(--p-sm);
    max-height: 1000px;
    gap: 5px;
    transition:
      max-height 300ms ease-in-out,
      padding 300ms ease-in-out;

    &.isCollapsed {
      max-height: 0;
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
    }

    .statRow {
      display: flex;
      justify-content: space-between;
      padding: 4px 8px;
      border-radius: var(--radius-md);
      background-color: var(--bg-surface);
    }
  }
}
