.mainLayout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.mainHeader {
  height: var(--navbar-height);
  width: 100%;
  transition: height var(--duration-base) ease-in-out;

  &.isCollapsed {
    overflow: hidden;
    height: 0;
  }
}

.rightSidebar {
  width: 15dvw;
  border: 1px dashed white;
  transition: width var(--duration-base) ease-in-out;

  &.isCollapsed {
    width: 0;
    overflow: hidden;
  }
}

.leftSidebar {
  width: 20dvw;
  border: 1px dashed white;
  transition: width var(--duration-base) ease-in-out;

  &.isCollapsed {
    width: 0;
    overflow: hidden;
  }
}

.canvasHeader {
  border: 1px dashed white;
  height: var(--navbar-height);
  transition: height var(--duration-base) ease-in-out;

  &.isCollapsed {
    height: 0;
    overflow: hidden;
  }
}

.mainBodyDashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.canvasBody {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.innerDisplay {
  flex: 1;
}
