.btn {
  --border-color: var(--lavender-600);
  --color: var(--text-primary);
  --background-color: var(--lavender-200);

  display: flex;
  align-items: center;
  height: fit-content;
  width: fit-content;
  border-radius: var(--radius-lg);
  color: var(--color);
  background-color: var(--background-color);
  border-color: currentcolor;
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out,
    border-color 300ms ease-in-out;

  &.sm {
    padding: var(--p-sm);
    font-size: var(--font-size-xs);
    border-radius: var(--radius-md);
  }

  &.md {
    padding: var(--p-md);
    font-size: var(--font-size-md);
  }

  &.lg {
    padding: var(--p-lg);
    font-size: var(--font-size-lg);
    border-radius: var(--radius-lg);
  }

  &.pill {
    border-radius: var(--radius-full);
  }

  &.error {
    --border-color: var(--text-error);
    --color: var(--text-error);
    --background-color: var(--bg-error);
  }

  &.success {
    --border-color: var(--text-success);
    --color: var(--text-success);
    --background-color: var(--bg-success);
  }

  &.warning {
    --border-color: var(--text-warning);
    --color: var(--text-warning);
    --background-color: var(--bg-warning);
  }

  &.info {
    --border-color: var(--text-info);
    --color: var(--text-info);
    --background-color: var(--bg-info);
  }

  &.error,
  &.info,
  &.success,
  &.warning {
    &:hover {
      border-color: oklch(
        from var(--border-color) calc(l - 0.1) calc(c + 0.02) h
      );
      color: oklch(from var(--color) calc(l - 0.1) calc(c + 0.01) h);
      background-color: oklch(
        from var(--background-color) calc(l + 0.8) calc(c + 0.02) h
      );
    }
  }

  &.isDisabled,
  &.isDisabled:hover {
    opacity: 0.3;
    pointer-events: none;
  }
}

.iconBtn {
  --padding: var(--p-md);
  --height: 80px;
  --width: 80px;
  --border-color: var(--border-default);
  --color: var(--border-default);

  height: var(--height);
  width: var(--width);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: var(--radius-md);
  color: var(--color);
  background: transparent;
  overflow: hidden;
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;

  &.withBackground {
    background-color: var(--bg-surface);

    &:hover {
      background-color: var(--action-hover);
    }
  }

  svg,
  img {
    --max-height: 28px;
    --max-width: 28px;

    display: flex;
    stroke: var(--color);
    align-items: center;
    max-height: 100%;
    width: 100%;
    transition:
      transform 300ms ease-in-out,
      stroke 300ms ease-in-out;
  }

  &.xs {
    --padding: 0px;
    --height: 28px;
    --width: 28px;
  }

  &.sm {
    --padding: var(--p-xs);
    --height: 36px;
    --width: 36px;
  }

  &.md {
    --padding: var(--p-xs);
    --height: 56px;
    --width: 56px;
  }

  &.lg {
    --padding: var(--p-md);
    --height: 72px;
    --width: 72px;
  }

  &.round {
    border-radius: var(--radius-full);
  }

  &.bordered {
    border: 2px solid var(--border-color);

    &:hover {
      border: 2px solid var(--action-hover);
    }
  }

  &:hover {
    stroke: var(--text-secondary);
  }

  &.isCollapsed {
    transform: rotate(180deg);
  }

  &.close {
    color: var(--text-secondary);

    &:hover {
      color: var(--text-error);

      svg {
        stroke: var(--text-error);
      }
    }
  }

  &.isDisabled,
  &.isDisabled:hover {
    opacity: 0.3;
    pointer-events: none;
  }
}
