:root {
  --color-primary: oklch(21.839% 0.0612 249.645deg);
  --color-primary-light: oklch(from var(--color-primary) 75% c h);
  --color-primary-dark: oklch(from var(--color-primary) 35% c h);
  --color-primary-subtle: oklch(from var(--color-primary) 93% calc(c / 4) h);
  --color-primary-muted: oklch(from var(--color-primary) l calc(c * 0.5) h);
  --color-secondary: oklch(92.1% 0.0301 307.11deg);
  --color-secondary-light: oklch(from var(--color-secondary) 97% calc(c / 2) h);
  --color-secondary-dark: oklch(
    from var(--color-secondary) 68% calc(c * 2.5) h
  );
  --color-secondary-subtle: oklch(
    from var(--color-secondary) 97% calc(c / 4) h
  );
  --color-secondary-muted: oklch(from var(--color-secondary) l calc(c * 0.5) h);
  --color-accent: oklch(60.65% 0.0751 181.5deg);
  --color-accent-light: oklch(from var(--color-accent) 75% c h);
  --color-accent-dark: oklch(from var(--color-accent) 47% c h);
  --color-accent-subtle: oklch(from var(--color-accent) 93% calc(c / 4) h);
  --color-accent-muted: oklch(from var(--color-accent) l calc(c * 0.5) h);
  --color-text: oklch(53.369% 0.1147 25.041deg);
  --color-text-light: oklch(73.52% 0.1604 25.99deg);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-mono: "IBM Plex Mono", monospace;
  --font-heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --font-sans: ui-monospace, Consolas, monospace;

  --font-size-xs: 8px;
  --font-size-sm: 12px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
  --font-size-3xl: 52px;

  --border-radius-base: 10px;
  --border-radius-md: calc(var(--border-radius-base) * 0.8);
  --border-radius-sm: calc(var(--border-radius-base) / 2);
  --border-radius-lg: calc(var(--border-radius-base) * 1.5);

  --padding-base-y: 8px;
  --padding-base-x: 16px;
  --padding-sm-y: calc(var(--padding-base-y) * 0.5);
  --padding-sm-x: calc(var(--padding-base-x) * 0.5);
  --padding-lg-y: calc(var(--padding-base-y) * 2);
  --padding-lg-x: calc(var(--padding-base-x) * 2);

  font: 18px / 145% var(--sans-mono);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

#root {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-mono);
  background-color: var(--color-primary);
  color: var(--color-secondary-light);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-3xl);
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-lg);
}

p {
  margin: 0;
}

button {
  appearance: none;
  border: none;
  padding: var(--padding-base-y) var(--padding-base-x);
  margin: 0;
  cursor: pointer;
  display: inline-block;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 2px solid var(--color-primary-light);
  border-radius: var(--border-radius-md);
  color: var(--color-primary-light);
  font-weight: 700;
  transition:
    color 300ms ease-in-out,
    border-color 300ms ease-in-out;

  &:hover {
    border: 2px solid var(--color-text-light);
    color: var(--color-text-light);
  }
}

code,
.counter {
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: var(--padding-base-y) var(--padding-base-x);
  background: var(--code-bg);
}

input {
  border: 2px solid var(--color-primary-light);
  border-radius: var(--border-radius-md);
  padding: var(--padding-sm-y) var(--padding-sm-x);
  background-color: transparent;
  transition:
    color 300ms ease-in-out,
    border-color 300ms ease-in-out;

  &:hover {
    border-color: var(--color-text);
  }
}
